.body {
  font-family: "Dosis", sans-serif;
  font-size: 1em;
  line-height: 1;
}

.jumbotron {
  background-image: url(products/forest-931706_1280.jpg);
  background-size: cover;
}

.navbar {
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.nav-link {
  font-size: 18px !important;
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffff;
  opacity: 0.5;
}

.content-start {
  margin-top: 70px;
}

.display-4 {
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-size: 18px !important;
  line-height: 1.2em;
  font-weight: 500;
  font-family: "Dosis", sans-serif !important;
}

q {
  font-size: 18px !important;
  letter-spacing: 3px;
}

footer.blockquote-footer {
  letter-spacing: 1px;
  font-family: "Dosis", sans-serif !important;
  font-size: 16px !important;
}

div h2.display-2 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 5px;
  letter-spacing: 15px;
}

.about {
  display: inline-block;
  position: absolute;
  top: -100px;
  right: 380px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  margin-top: 35px;
  font-weight: 400 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.prod-image {
  box-shadow: 0 2px 4px 0 rgba(12, 11, 11, 0.89);
}

.prod-image:hover {
  opacity: 0.9;
}

.contact-text {
  font-size: 24px !important;
  line-height: 1.2em;
  color: #666666 !important;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 1px;
}

.contact-header {
  position: absolute;
  top: -65px;
  right: 100px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  margin-top: 35px;
  font-weight: 400 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}
